@font-face{
    font-family:'Bodoni MT'; 
    src:url("{% static 'fonts/BodoniMTCondensed-Bold.ttf' %}") format('truetype'),
    url("{% static 'fonts/BOD_CB.TTF.eot' %}") format('embedded-opentype'),
    url("{% static 'fonts/BodoniMTCondensed-Bold.woff' %}") format('woff');
}

@font-face{
    font-family:'YDIYGO310'; 
    src:url("{% static 'fonts/YDIYGO310.woff' %}") format('woff'),
    url("{% static 'fonts/윤고딕310.eot' %}") format('embedded-opentype');
}

@font-face{
    font-family:'YDIYGO340'; 
    src:url("{% static 'fonts/YDIYGO340.woff' %}") format('woff'),
    url("{% static 'fonts/윤고딕340.eot' %}") format('embedded-opentype');
}

.bg{
    background-color: white;
}
#center{
    text-align: center;
}
.button1{
    box-sizing: unset!important;
    align-items: center;
    display: inline-block;
    padding: 10px 50px;
    margin:  320px 70px;
    border: 3px solid white;
    font-weight:  bold;
    color: white;
    text-align: center; 
    background-color: rgba( 255, 255, 255, 0 );
}    
.button1:hover {
    background-color:white;
    color:black;
}
.submit{
    border-left: none;
    border-top: none;
    border-right: none;
}
a, a:hover, a:visited, a:link{
    text-decoration: none;
    color: black;
}
.search{
    padding-bottom: 0.7vh;
}
.search2{
    width:80%;
}
.down{
    padding-top: 15vh;
}

span{
    color : rgba( 0, 0, 0, 1 )!important;
}
span:hover{
    text-decoration: none;
    color:rgba( 0, 0, 0, 0.5 );
}
.carousel-control-next, .carousel-control-prev{
    opacity : 1!important;
}

.image{
    position: relative;
}.image .text{
    text-align: center;
    position: absolute;
    color:black;
    top: 27vw;
    left: 13vh
    
}