@font-face{
    font-family:'Bodoni MT'; 
    src:url("{% static 'fonts/BodoniMTCondensed-Bold.ttf' %}") format('truetype'),
    url("{% static 'fonts/BOD_CB.TTF.eot' %}") format('embedded-opentype'),
    url("{% static 'fonts/BodoniMTCondensed-Bold.woff' %}") format('woff');
}

@font-face{
    font-family:'YDIYGO310'; 
    src:url("{% static 'fonts/YDIYGO310.woff' %}") format('woff'),
    url("{% static 'fonts/윤고딕310.eot' %}") format('embedded-opentype');
}

@font-face{
    font-family:'YDIYGO340'; 
    src:url("{% static 'fonts/YDIYGO340.woff' %}") format('woff'),
    url("{% static 'fonts/윤고딕340.eot' %}") format('embedded-opentype');
}

body{
    margin: 0;
    background-color:#353535;
    overflow: hidden;
}

.container-fluid{
    width:100vw;
    height:100vh;
    padding-left:0;
    padding-right:0;
    margin-right:0;
}

.row1 {
    background-color: #000000;
    height: 70vh;
    font-family:'YDIYGO340'; 
    color:snow;
}


.row {
    justify-content: center;
}


.card-deck{
    width:100%;
    padding: 3%;
    padding-bottom: 0;
    padding-top:0;
    margin-right: 0;
    margin-left: 0;
    margin:0 auto;
}

.card-border {
    width:80%;
    border-style: solid;
    border-color: snow;
    border-radius: 10px;
    margin:5px auto;
    padding:40px 10px;
}

.card {
    text-align: center;
    margin: 1%;
    padding: 1%;
    width: 200px;
    height:200px;
    color: snow;
    background-color: #000000;
    border-color: snow;
    font-family:'YDIYGO310'; 
}

a:link { color: snow; text-decoration: none;}
a:visited { color: snow; text-decoration: none;}
a:hover { color: snow; text-decoration: none;}

/*NAUGHTY 로고*/
.brand-txt{
    color:#f4ddc2;
    font-family:'Bodoni MT';
    font-size:80px;
}

/*연인에게 선물할 당신의 속옷취향 결과가 나왔습니다.*/
.result-txt {
    margin:0 auto;
    padding: 20px;
    font-size:20px;
    font-family:'YDIYGO310';
}

/*결과 설명 길게*/
.card-text-body {
    width: 70%; 
    margin:auto; 
    line-height:40px;
    font-family:'YDIYGO310';
}

.result-button {
    margin:auto;
}

.result-button-txt {
    display:inline-block;
    font-size:18px;
}

/*마음에 들지 않으세요?*/
.btn{
    border-radius: 10px;
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    width: 25%;
    height: 40px;
    background-color: black;
    border-style: solid;
    border-color: snow;
    color:snow;
}