{%extends 'base.html' %}
{%block contents%}
{% load static %}
<link rel="stylesheet" href="{% static 'hong-1.css'%}">

<head>
  <script>
    /*접기-펼치기*/
    function showHide(id) {
      var obj = document.getElementById(id);
      if (obj.style.display == 'none')
        obj.style.display = 'block';
      else
        obj.style.display = 'none';
    }
    /*접기-펼치기*/
    /*인풋 텍스트 엔터막기*/

    /*인풋 텍스트 엔터막기*/
    /*하트 클릭*/
    
    /*하트 클릭*/
    /*팬티사진 넘어가는거*/
    $(document).ready(function () {

      $('.prev').click(function () {
        $('.list').stop().animate({ 'margin-left': '-900px' }, function () {
          $('.list>li').eq(0).appendTo('.list');
          $('.list').css({ 'margin-left': '-450px' });
        });
      });
      $('.next').click(function () {
        $('.list').stop().animate({ 'margin-left': '0px' }, function () {
          $('.list>li').eq(2).prependTo('.list');
          $('.list').css({ 'margin-left': '-450px' });
        });
      });

      var auto = setInterval(function () {
        $('.list').stop().animate({ 'margin-left': '0px' }, function () {
          $('.list>li').eq(2).prependTo('.list');
          $('.list').css({ 'margin-left': '-450px' });
        });
      }, 2000);

      /* 마우스 올렸을때 캐러셀 자동 멈춤 */
      $('.carousel').mouseenter(function () {
        clearInterval(auto);
      });

      /* 마우스 내렸을때 캐러셀 자동 다시실행 */
      $('.carousel').mouseleave(function () {
        auto = setInterval(function () {
          $('.list').stop().animate({ 'margin-left': '0px' }, function () {
            $('.list>li').eq(2).prependTo('.list');
            $('.list').css({ 'margin-left': '-450px' });
          });
        }, 2000);
      });
    });
    /*팬티사진 넘어가는거*/
  </script>
</head>

<div class="main mt-5">
  <div class="photo inline-block" style="margin-left: 10em;">
    <nav id="navbar-example2" class="navbar" style="display: none;">
      <a class="navbar-brand" href="#">Navbar</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#fat">@fat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mdo">@mdo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#one">one</a>
            <a class="dropdown-item" href="#two">two</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#three">three</a>
          </div>
        </li>
      </ul>
    </nav>
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scroll-bar">
      <h4 id="fat"></h4>
      <p>
        <img src="{{detail.detail_img1.url}}" width="500em" height="600em">
      </p>
      <h4 id="mdo"></h4>
      <p>
        <img src="{{detail.detail_img2.url}}" width="500em" height="600em">
      </p>
      <h4 id="one"></h4>
      <p>
        <img src="{{detail.detail_img3.url}}" width="500em" height="600em">
      </p>

    </div>
  </div>
  <div class="detail inline-block vertical-top" style="background-color: white; width:35em;">
    <h3 class="mt-3">{{detail.name}}</h3>
    <span class="subtitle mt-3 mb-2">KRW {{detail.price}}</span>

    <p class="subtitle mt-3">Color</p>


    <div class="block mb-4">
      <div class="rounded-circle inline-block mr-2" style="background-color: black;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 10px;
      border: white 5px solid;
      box-shadow: 0 0 2px rgb(0, 0, 0);
      "></div>
      <div class="rounded-circle inline-block" style="background-color: {{detail.color}};
      width: 50px;
      height: 50px;
      border-radius: 50px;
      padding: 10px;
      border: white 5px solid;
      box-shadow: 0 0 2px rgb(0, 0, 0);
      "></div>
      <!--
      <img src="https://i.postimg.cc/Q95dBLBd/2020-08-13-6-43-44.png" width="60em" height="58em"
        style="margin-top: 0.2em;" />
      <img src="https://i.postimg.cc/8fSPMyWB/2020-08-13-6-45-29.png" width="65em" height="65em" />
     -->
    </div>

    <span class="subtitle mr-5"> SIZE</span><span class="ml-3" style="font-size: large;">사이즈 검색</span>

    <form class="block" action="" method="GET">
      <div class="block mt-4">
        <span style="font-size: medium; margin-right: 4.5em;">BRA</span>
        <input type="number" name="bra-num" style="width: 5.5em; margin-right: -1em" placeholder="75~100">
        <!--자바스크립트로 75~ 범위지정-->
        <input type="text" name="bra-alphabet" style="width: 2em;" placeholder="A">
        <!--자바스크립트로 A~F 범위지정-->
      </div>
      <div class="block mt-2">
        <span style="font-size: medium; margin-right: 3em;">PANTIE</span>
        <input type="text" name="pantie-num" style="width: 7em;" placeholder="XS~XL">
        <!--자바스크립트로  범위지정-->
      </div>
      <div class="block mt-4">
        <div class="inline-block num-box">
          수량
        </div>
        <select class="select-num">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <a href="{% url 'order'%}">
          <input type="button" class="inline-block shopping-box ml-3" value="장바구니">
        </a>
      </div>
    </form>



    <a onclick="showHide('name1')" onfocus="this.blur()">
      <div class="block information">
        <hr>
        <div class="inline-block" style="font-size:medium">
          세부정보
        </div>
        <div class="inline-block" style="float: right;">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFVoaEtx2HJ9ByTrZXiHhyn3R0upDsswTZlg&usqp=CAU"
            width="20em" height="20em">
        </div>
      </div>
    </a>

    <div id='name1' class="hidden-display mt-3 scroll">
      캘빈클라인의 시그니처 향수인 CK ONE 을 재해석 하여 탄생시킨 새로운 라인으로 젊은 고객층을 겨냥한 다양한 프린트가 함께 제시되는 프로그램입니다.
      글로벌 핏으로, 얇은 브라 패드로 이루어져 자연스러운 가슴 라인을 연출해 주며 와이어가 없어 편안하게 착용 가능합니다.<br>
      남/여 커플 제품으로 제작되어 커플 아이템으로 활용할 수 있습니다.<br><br>
      <ul>
        <li>글로벌 핏</li>
        <li>얇은 브라 패드</li>
        <li>노 와이어</li>
        <li>포인트가 되는 CK ONE 로고와 플래그 택</li>
      </ul>

    </div>

    <a onclick="showHide('name2')" onfocus="this.blur()">
      <div class="block information">
        <hr>
        <div class="inline-block" style="font-size:medium">
          주의사항 및 섬유정보
        </div>
        <div class="inline-block" style="float: right;">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFVoaEtx2HJ9ByTrZXiHhyn3R0upDsswTZlg&usqp=CAU"
            width="20em" height="20em">
        </div>
      </div>
    </a>

    <div id='name2' class="hidden-display mt-3 scroll">
      패브릭 + 케어:<br>
      <ul>
        <li>80% 나일론 20% 폴리우레탄</li>
      </ul>
      핏 + 사이즈:<br>
      <ul>
        <li>모델 신장 175cm</li>
        <li>모델 착용 사이즈 S</li>
        <li>모델 가슴 사이즈 85cm</li>
      </ul>
    </div>

    <a onclick="showHide('name3')" onfocus="this.blur()">
      <div class="block information">
        <hr>
        <div class="inline-block" style="font-size:medium">
          배송+반품
        </div>
        <div class="inline-block" style="float: right;">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFVoaEtx2HJ9ByTrZXiHhyn3R0upDsswTZlg&usqp=CAU"
            width="20em" height="20em">
        </div>
      </div>
    </a>

    <div id='name3' class="hidden-display mt-3 scroll">
      <p class="black">선물포장 서비스</p>
      당사의 웹사이트에서 구매 시 Calvin Klein 선물 상자에 정성스럽게 포장하여 배송해 드립니다. 주문 당 한 박스에 제품 크기에 맞게 제공되며, 결제 시 선물 상자 포함 (KRW 3000) 체크박스를
      선택하시면 포장해 드립니다.
      일부 상품의 경우 선물 포장이 불가할 수 있으며, 선물 상자는 반품 불가 상품으로 반품 시 구매할 때 사용하신 결제수단으로 비용 차감 후 환불해 드립니다.<br><br>
      <p class="black" style="text-decoration: none;">배송 정보</p><br>
      <p class="black">표준 배송 소요시간</p>
      일반적으로 배송은 주문품 발송 후 2-4영업일이 소요됩니다. 사서함(PO boxes)으로는 주문품을 배송할 수 없다는 점을 유의하시기 바랍니다. 배송 소요 시간은 선택된 배송 방법과 처리 시간에 따라
      다릅니다.<br><br>
      <p class="black">결함</p>
      배송된 제품에 운송으로 인한 손상 등 분명한 자재 또는 생산 결함이 있는 경우 이메일이나 전화로 즉시 그러한 결함에 대하여 알려 주시기 바랍니다. 그와 같이 하지 않는 것은 귀하의 법적 권리에 영향을
      미치지 않습니다.<br>
      자세한 내용은 이용 약관 을 참조하시기 바랍니다.<br><br>
      <p class="black" style="text-decoration: none;">반품 정책</p>
      <p class="black">제품의 반품/교환</p>
      당사의 웹사이트에서 이루어진 구매의 경우에는 온라인으로만 반품 또는 교환이 가능하다는 점을 유의하시기 바랍니다. 당사의 웹사이트에서 구매한 제품은 Calvin Klein 매장에서 반품하거나 교환할 수
      없습니다.
      귀하는 본 이용약관에 명시된 조건을 충족하는 경우 귀하에게 배송된 제품을 반품하거나 교환할 수 있습니다. 반품 또는 교환을 원할 경우 연락처에 있는 Calvin Klein 고객 센터(1600-1811,
      한국기준 월요일부터 금요일까지 오전 9시 30분~오후 6시 30분까지 근무하며 토요일, 일요일 및 한국 공휴일은 휴무)로 즉시 전화 주시거나 CustomerServiceKR@ck.com로 이메일을
      보내주시기 바랍니다.<br><br>
      <p class="black">상품 반품</p>
      상품 수령 후 7일 이내에 상품 미훼손 및 미사용한 경우에만 반품접수가 가능합니다.
      제품에 하자가 있는 경우, 배송비 및 세금 일체를 포함한 전액이 환불됩니다. 하자가 있는 제품은 상품 수령일자로부터 3개월 이내 또는 하자를 알게 된 날로부터 30일 이내 반품이 가능합니다.
      단순변심 또는 사이즈 문제로 인한 반품 시 배송료는 고객 부담이며, 구매할 때 사용하신 결제수단으로 배송료 차감 후 환불해 드립니다.
    </div>

    <div class="block information mt-3">
      <hr>
      <div class="block" style="font-size:medium">
        추천속옷
      </div>
      <div class="block">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <div class="carousel mt-3" style="margin-left: -3em;">
          <div class="view">
            <ul class="list">
              <li>
                <ul>
                  <li class="a1"><a href="#"></a></li>
                  <li class="a2"><a href="#"></a></li>
                  <li class="a3"><a href="#"></a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li class="a4"><a href="#"></a></li>
                  <li class="a5"><a href="#"></a></li>
                  <li class="a6"><a href="#"></a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li class="a7"><a href="#"></a></li>
                  <li class="a8"><a href="#"></a></li>
                  <li class="a9"><a href="#"></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <p class="prev" style="margin-left:1em; text-align:center">
            < </p>
              <p class="next" style="margin-left: 3em; text-align:center">></p>
        </div>
      </div>



    </div>
  </div>

  <div class="review block mx-auto mt-5" style="width: 80%; height:20%;">

    <div class="block mr-3" style="width: 100%;">
      <div class="inline-block font" style="font-size:larger; font-weight:bold; float:left;">
        리뷰
      </div>
      <div class="inline-block ml-3 mt-1" style="float:left;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFVoaEtx2HJ9ByTrZXiHhyn3R0upDsswTZlg&usqp=CAU"
          width="20em" height="20em">
      </div>
    </div>

    <div class="block mx-auto" style="width: 100%;float:left;">
      <hr>
      <!--리뷰 창-->

      <center>
        <div class="block mx-auto" style="width:100%; float:left;">

          <!--왼쪽
          <div class="col-3 inline-block mx-auto border" style="text-align: left;">

            <div class="block mx-auto mt-2" style=" text-align:center;">
              <img src="{{detail.main_img}}" width="250px" height="250px">
            </div>
            <div class="block mt-2">
              <span id=heart><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
              <img
                src="https://imageog.flaticon.com/icons/png/512/99/99671.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                width="20em" height="18em" class="mt-1">
            </div>
            {{review.id}}
              {% if review.item_id == detail.id %}
              <div class="block mt-2 font" style="font:small">
                <span>리뷰{{review.user_id}}님</span>
                <div style="width: 15em;" class="block scroll">
                  <p>{{review.contents}}
                  </p>
                </div>
                <a class="item-list btn font comment-button" href="#open-moda">댓글 12개 더보기</a>
              </div>
              {%endif%}
            
          </div>
          -->

          <!--가운데
          <div class="col-3 inline-block center border" style="text-align: left;">

            <div class="block mx-auto mt-2" style=" text-align:center;">
              <img src="{{detail.main_img}}" width="250px" height="250px"
                class="mx-auto">
            </div>
            <div class="block mt-2">
              <span id=heart2><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
              <img
                src="https://imageog.flaticon.com/icons/png/512/99/99671.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                width="20em" height="18em" class="mt-1">
            </div>
            <div class="block mt-2 font" style="font:small">
              <span>RIFD님</span>
              <div style="width: 15em;" class="block scroll">
                <p>속옷이 너무 편하고 좋아 대박 이렇게 좋은 속옥은 처음입니다
                  박학격거세 알에서 나왔다 버거킹은 통새우
                </p>
              </div>
              <a class="item-list btn font comment-button" href="#open-moda" style="margin-top: -3em; color:gray">댓글 12개
                더보기</a>
            </div>
          </div>
          -->
          <!--가운데-->

          <div class="col-10 block center" style="vertical-align:top; text-align:left;">
            <!--이미지x 1-->
            {% for i in review.all %}
            {% if i.item_id == detail.id%}
            <div class="col-10 block border pl-3 mb-3">
              <div class="block mt-2">
                <span id=heart3><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
                <img
                  src="https://imageog.flaticon.com/icons/png/512/99/99671.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                  width="20em" height="18em" class="mt-1">
              </div>
              <div class="block mt-2 font" style="font:small">
                <span>{{i.user_id}}님</span>
                <div style="width: 45em; height: 6em;" class="block scroll-review">
                  <p>
                    {{i.contents}}
                  </p>
                </div>
                <a class="item-list btn font comment-button" href="#open-moda" style="margin-top: -3em; color:gray">댓글
                  더보기</a>
              </div>
            </div>
            {%endif%}
            {% endfor %}
            <!--리뷰작성-->
            <div class="col-10 block border pl-3 mb-3" style="height: 17em;">
              <div class="block mt-2">
                <span id=heart3><i class="fa fa-heart-o" aria-hidden="true"></i> </span>
                <img
                  src="https://imageog.flaticon.com/icons/png/512/99/99671.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
                  width="20em" height="18em" class="mt-1">
              </div>
              <form action="{% url 'review_create' %}" method="GET">
                <input type="number" value="{{detail.id}}" name="item_id" style="display: none;" />
                <div class="block mt-2 font" style="font:small">
                  <span><input type="text" name="user_id" value="{{userinfo.user_id}}" style="display:none"
                      class="mb-3"></span>
                  <div style="width: 45em; height: 6em;" class="block">
                    <textarea name="contents" placeholder="리뷰내용을 입력하세요."
                      style="width: 90%; height:6em; resize:none"></textarea><br><br>
                    <input type="submit" value="작성">
                  </div>
              </form>
            </div>
          </div>
          <!--리뷰작성-->
        </div>

        <!--댓글창-->
        <div id="open-moda" class="modal-window" style="text-align: left;">
          <div>
            <a href="#modal-close" title="Close" class="modal-close">X</a>
            <div style="width: 90%; height:60%" class="block scroll font">
              <span>
                <hr>댓글1빠 님</span>
              <p>
                속옷이 너무 편하고 좋아 대박 이렇게 좋은 속옥은 처음입니다
                박학격거세 알에서 나왔다 버거킹은 통새우
                <hr>
              </p>

              <form action="" method="GET" onsubmit="false">
                <div class="block" style="float: left;">
                  <textarea class="textarea" placeholder="댓글을 입력하세요." name="comment"></textarea>
                  <input type="submit" value="게시" class="comment-submit mb-3" />
                </div>
              </form>

            </div>
          </div>
        </div>
        <!--댓글창-->
    </div>
    </center>

    <!--리뷰 창-->
  </div>
</div>

{%endblock%}