{%extends 'base.html' %}
{%block contents%}
{% load static %}
<style>
  .footer{
    display: none;
  }
</style>
<link rel="stylesheet" href="{% static 'jemin.css'%}">
<script src="https://kit.fontawesome.com/dbe26b9685.js" crossorigin="anonymous"></script>
<div class="bg container-fluid w-100">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">   
    <div class="row justify-content-center">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'mainpage.jpg'%}" class="d-block w-100" alt="...">            
          </div>
          <div class="carousel-item">
            <img src="{% static 'mainpage.jpg'%}" class="d-block w-100" alt="...">            
          </div>
          <div class="carousel-item">
            <img src="{% static 'mainpage.jpg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="/item/1" role="button" data-slide="prev">
          <span class="h4  mr-3">MAN</span>
          <span class="h4 "><</span>
        </a>
        <a class="carousel-control-next" href="/item/2" role="button" data-slide="next">
          <span class="h4 ">></span>
          <span class="h4  ml-3">WOMAN</span>
        </a>
    </div>
    <div class="carousel-caption d-none d-md-block mt-5 p-0">
      <div class="row justify-content-center"> 
        <a href="/item2" class="h4" style="color:#212529">COUPLE</a>
      </div>
      <div class="row justify-content-center"> 
        <a href="/" class="h4" style="color:#212529"><i class="fas fa-chevron-down"></i></a>
      </div>
    </div>
  </div> 
</div>
{%endblock%}

