<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css'%}">
    <style>
        label {
            border:solid 1px;
            border-radius: 10px;
            margin: 5px;
            padding: 5px;
            width: 30%;
            height: 30px;
            background-color: black;
            line-height:20px;
            color:snow;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container-fluid text-center">
    <div><a href="{% url 'index' %}"><span class="brand-txt">NAUGHTY</span></a></div>

        <div class="card-deck">
            <div class="card" style="height: 350px;">
                <div class="card-body">
                    <div class="card-text">
                        <form action="/infocoupleud/{{userinfo.id}}" method="GET">
                            <div class="card-text2">
                                <h4>당신은 커플입니까?</h4>
                            </div>
                            <div>
                                <input type="submit" name="couple" id="yes"class="btninfo border" style="line-height:0px; color:white; display: none;" value="0"><label for="yes">YES</label>
                                <input type="submit" name="couple" id="no"class="btninfo border" style="line-height:0px; color:white; display: none;" value="1"><label for="no">NO</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card p-0" style="border-style:none;">
                <img class="card-img-top" src="{% static 'img/20.jpg'%}" height="350px" alt="Card image cap">    
            </div>
            <div class="card p-0" style="border-style:none;">
                <img class="card-img-top" src="{% static 'img/18.jpg'%}" height="350px" alt="Card image cap">    
            </div>
        </div>

</div>
</body>
</html>