{%extends 'base.html' %}
{%block contents%}
{% load static %}

<link rel="stylesheet" href="{% static 'jemin.css'%}">
<script src="https://kit.fontawesome.com/dbe26b9685.js" crossorigin="anonymous"></script>
<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="http://kyuhoon3.img15.kr/201604/cate/sexy_cate.jpg" class="card-img" alt="...">
        <div class="row card-img-overlay justify-content-center">
            <div class="down col-md-auto">
                <div class="row mt-5 text-white">
                    I remember when, mom used to say
                </div>
                <div class="row mb-3 text-white">
                    That things are getting better
                </div>
                <div class="row text-dark">
                    <!--div.col 엔터 누르면 div class="col 나옴 점이 class이다 #은 아이디"-->
                    <div class="col-5"><a href="/" class="button1 m-0 btn-block btn text-white">view</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5" style="text-align: center;">
    <div class="row justify-content-center">
        <form action="/" , method="GET" class="col-3 p-0" style="border-bottom: 1px solid black; ">
            <input type="text" class="search2 border-0">
            <button class="search bg-white border-0 p-0"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
<div class="container mt-5" style="text-align: center;">
    <div class="row justify-content-center m-0 text-center">
        <div class="col-2">ALL</div>
        <div class="col-2">WOMAN</div>
        <div class="col-2">MAN</div>
        <div class="col-2">COUPLE</div>
    </div>
</div>
<div class="container-fluid mt-5 bg-light">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col p-1">
            <div class="card border-0 rounded-0">
                <img src="{% static '커플1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p>COUPLE-SET</p>
                    <p>&#8361;30000</p>
                </div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card border-0 rounded-0">
                <img src="{% static '커플1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p>COUPLE-SET</p>
                    <p>&#8361;30000</p>
                </div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card border-0 rounded-0">
                <img src="{% static '커플1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p>COUPLE-SET</p>
                    <p>&#8361;30000</p>
                </div>
            </div>
        </div>
        <div class="col p-1">
            <div class="card border-0 rounded-0">
                <img src="{% static '커플1.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <p>COUPLE-SET</p>
                    <p>&#8361;30000</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3" style="text-align: center;">
    <div class="row justify-content-center m-0 text-center">
        <div class="col-2">도움말</div>
        <div class="col-2">FOLLOW하기</div>
        <div class="col-2">정책</div>
        <div class="col-2">회사</div>
    </div>
</div>
{%endblock%}