<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css'%}">
</head>
<body>
<script type="text/javascript">
function writeCheck() {
  var form = document.writeform;
  if (!form.user_name.value)
  {
      alert("아이디를 입력해주세요");
      form.user_name.focus();
      return false;
  }
  if (!form.password.value) {
      alert("비밀번호를 입력해주세요");
      form.password.focus();
      return false;
  }
  form.submit();
}
</script>

{% if error %}<!--
<script type="text/javascript">
  alert("올바른 계정이 아닙니다");
</script>-->
{% endif %}
<div class="container-fluid text-center">
    <div><a href="{% url 'index' %}"><span class="brand-txt">NAUGHTY</span></a></div>

        <div class="card-deck">
            <div class="card p-0" style="border-style:none;">
              <img class="card-img-top" src="https://i.pinimg.com/originals/18/e3/d9/18e3d9d98f780fb674921c0b3123d0dd.jpg" height="350px" alt="Card image cap">    
            </div>
            <div class="card" style="height: 350px;">
              <div class="card-body">
                <h3 class="card-title mt-4">Login</h3>
                <form action="{% url 'login' %}" method="POST" name="writeform">
                  {% csrf_token %}
                    <div>
                        <input class="input border" type="text" name="user_name" placeholder="  ID">
                    </div>
                    <div>
                        <input class="input border" type="password" name="password" placeholder="  PW">
                    </div>
                    <div>
                        <a href="{% url 'join1' %}">
                        <input type="button" class="btn border" style="line-height:0px; color:white" value="Join">
                        </a>
                        <input type="submit" class="btn border" style="line-height:0px; color:white" value="Enter" OnClick="javascript:writeCheck();">
                    </div>
                </form>
              </div>
            </div>
            <div class="card p-0" style="border-style:none;">
              <img class="card-img-top" src="https://i.pinimg.com/originals/ad/f5/28/adf5281bd5f4d73cc819920eb5ec2b30.jpg" height="350px" alt="Card image cap">
            </div>
          </div>

</div>
</body>
</html>