{%extends 'base.html' %}
{%block contents%}

{% load static %}
<link rel="stylesheet" href="{% static 'hong.css'%}">
<div class="block mt-5" style="width: max-contents; height: max-contents;">
    <div class="order-img">
        <img src="https://www.newsinside.kr/news/photo/202004/1073221_758180_239.jpg" width="430em" height="480em"
            style="border-radius: 10px;">
    </div>
    <div class="main-box">
        <div class="inlineblock mb-5" style="margin-right: -15em;">
            <div class="title block col-10 ml-5 pl-3" style="margin-top: 8em;">
                <h4>당신의 연인이 속옷을 골랐습니다.</h4>
                <h5 style="font-weight:normal;">새로움과 함께하는 하루가 되세요</h5>
            </div>
            <div class="block" style="float: right;">
                <span>주문완료</span>
                <img src="https://i.postimg.cc/bGzrqPnx/Untitled-101.jpg" alt="Untitled-101" width="160em"
                    height="100em">
                <span>배송중</span>
                <img src="https://i.postimg.cc/7Cm66R1p/Untitled-241.jpg" alt="Untitled-241" width="160em"
                    height="100em">
                <span>배송완료</span>
            </div>
        </div>
    </div>
</div>
{%endblock%}